.warning{
    background-color: rgb(255, 211, 130);
}
.danger{
    background-color: rgb(255, 0, 0);
    color: white;
}
.new{
    background-color: rgb(152, 194, 250);
}
.hight{
    background-color: rgb(106, 255, 106)
}
body{
    background: #EEF0F4;
    box-shadow: inset 9.91px 9.91px 15px #D9DADE, inset -9.91px -9.91px 15px #FFFFFF;
}
